#chat-screen {
    background-color: #abc1d1;
    height: 11000vh;
    height: 500vh;
  }
  
  #chat-screen .alt-header,
  @@ -20,15 +20,24 @@
    top: 10px;
    z-index: 1;
  }
  .main-chat {
    margin-top: 150px;
  
  @keyframes fadeIn {
    from {
      transform: translateY(30px);
      opacity: 0;
    }
    to {
      transform: none;
      opacity: 1;
    }
  }
  
  .main-chat {
    margin-top: 120px;
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.8s linear;
  }
  
  .chat__timestamp {
  @@ -104,6 +113,7 @@
    padding: 5px 25px;
    box-sizing: border-box;
    align-items: center;
    transition: all 0.3s ease-in-out;
  }
  
  .reply .reply__column:first-child {
  @@ -124,6 +134,7 @@
    border: var(--main-border);
    border-radius: 25px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
  }
  
  .reply__column:last-child > i,
  @@ -153,3 +164,24 @@
  .reply__column button:active {
    outline: none;
  }
  
  .reply .reply__column:first-child,
  .reply .fa-smile-wink,
  .reply button {
    transition: opacity 0.3s ease-in-out;
  }
  
  .reply:focus-within .reply__column:first-child,
  .reply:focus-within .fa-smile-wink,
  .reply:focus-within button {
    opacity: 0;
  }
  
  .reply:focus-within input {
    width: 98vw;
    transform: translateX(-13%) translateY(-80px);
  }
  
  .reply:focus-within {
    transform: translateY(80px);
  }